# African dances

<div class="img">
  <iframe width="420" height="315" src="//www.youtube.com/embed/bFABuq4ZWaQ"
  frameborder="0" allowfullscreen></iframe>
</div>

This hot summer we will enjoy in african dances. In the last few years the
African dances become a very popular form of fun and recreation also in other
parts of the world! In Africa they are performed even today on the occasion of
various events, such as initiation, birth, weddings, celebration of fruitful
year…African dances are very energetic and joyful, include all muscle groups
and are great fun and recreation for children and adults. Igor is eager to
teach us new movements!

## Workshop leader -- **Igor Šehić**

Born on May 22nd, 1982. From my early childhood I showed interest in various
forms of physical activities, I trained regularly and studied Japanese culture.

In my early college days I began to study Capoeira in the Association Amazonas.
After my graduation in 2008 at the Academy of Dramatic Art, University in
Zagreb, I travelled to Brazil where I started my research of traditional folk
expressions.

My path led me to various old masters of traditional Afro-Brazilian culture,
with whom I spent several months learning and practicing Capoeira. In Rio de
Janeiro I met Master Marrom who recognized my long-standing commitment to the
Afro-Brazilian culture and accepted me as his student. Master Marrom decided to
assess my work so I stayed to live in Brazil.

In 2008 and 2009 I lived in the slums of Rio de Janeiro, studying traditional
Capoeira with Master Marrom. My study was based on two things: social project
and skills perfecting. I managed to expand my project on 5 favelas (Falete,
Fugeteiro, Morro da Coroa, Babilonia and Chapeo Mangeiro) and I have worked
with more than 260 boys and girls. In the period of 2 years I provided
education to those children on history and various folk forms of Afro-Brazilian
culture, thus enabling them not to live on the streets.

Due to that project and my longtime commitment to the preservation of
Afro-Brazilian culture, I achieved the title of Professor of Capoeira Angola
and was granted with permission to open an Association "Capoeira Camarada" in
the Republic of Croatia, which promotes and nurtures the traditional
expressions of Afro-Brazilian culture.
