.navigation {
  .container {
    justify-content: space-between;
  }

  &-list {
    @extend .list-unstyled;

    a {
      display: block;
      padding: 1rem 0.5rem;
    }
  }

  &-actions {
    margin-left: 1rem;

    > * + * {
      margin-left: 0.5rem;
    }

    a {
      display: block;
    }
  }
}
