body {
  @include container;
  font: { family: $sans-serif; size: 16px; }
  margin-top: scale(2);
  margin-bottom: scale(2);
  line-height: scale(2);
  color: $text;
  overflow-y: scroll;
}

#{elements-of-type(block)} {
  margin-top: 0;
}

h1 {
  font: { size: scale(6); weight: 300; }
  line-height: scale();
  color: $h1;
  margin-bottom: scale(-8);
}

h2 {
  font: { size: scale(4); weight: 300; }
  color: $h2;
  div[role='main'] & {
    line-height: 1em;
    border-bottom: 1px solid $color1;
    margin: scale(-1) 0 scale(-6) 0;
  }
}

h3 {
  font: { size: scale(1); weight: 300; }
  letter-spacing: scale(-7);
  text-transform: uppercase;
  color: $h3;
  margin: scale(-1) 0 scale(-6) 0;
}

a {
  @include hover-link;
  @include link-colors($link1, $link2, $link1, $link1, $link2);
}

img {
  max-width: 100%;
  outline: 1px solid rgba(black,.3);
  article & {
    float: right;
    margin-left: scale();
  }
}

nav {
  @include full;
  ol {
    @include clearfix;
    @include unstyled-list;
    @include full($total-cols);
    @include pad(1,1,$total-cols);
    font: { weight: 300; }
    text-transform: uppercase;
  }
  li {
    float: left;
    margin-right: scale(1);
    &.current a { color: $current; font-weight: 400; line-height: scale(2); }
    &:last-child { margin: 0; }
  }
  a {
    @include link-colors($nav1, $nav2, $nav2, $nav1, $nav2);
    display: block;
    padding: scale(-2); }
}

header {
  @include full;
  margin-bottom: scale(5);
}

.hgroup {
  @include full($total-cols);
  position: relative;
}

#logo, #tagline { margin: 0; }

#logo {
  @include full($total-cols);
  @include pad(1,1,$total-cols);
  font: { size: scale(7); weight: 700; }
  text-align: center;
  margin-bottom: 0;
  a {
    color: $logo;
    display: block;
    &:hover { text-decoration: none; }
  }
}

#tagline {
  @include full($total-cols);
  font: { size: scale(); weight: 300; }
  text: { transform: uppercase; align: center; }
  letter-spacing: scale(-3);
  border-top: $logo-border;
  color: $tagline;
  background: lighten($color3,25%);
}

[role='main'] {
  @include full;
}

aside {
  @include columns(3);
  @include alpha;
}
