#location {
  @include full($total-cols);
  $cols: 4;
  article {
    @include columns(6, $total-cols);
  }
  .map {
    @include columns($cols, $total-cols);
    @include omega($total-cols);
    margin-top: scale(2);
  }
  iframe {
    @include full($cols);
    width: 100%;
    outline: 1px solid $color1;
  }
  small {
    @include full($cols);
  }
}
