#workshops {
  @include inline-block-list;
  font-size: 0;
  li {
    margin: 0 0 scale() 2px;
    font-size: 16px;
  }
  a {
    position: relative;
    display: block;
    padding: scale(-4) scale(0);
    font: { size: scale(4); weight: 300; }
    line-height: 1em;
    color: rgba(black,.35);
  }
  li.current a, a:hover {
    color: white;
    @include text-shadow(rgba(black,.3) 1px 1px 0);
    text-decoration: none;
    .bg { @include opacity(1); }
  }
  span {
    position: relative;
    z-index: 1;
  }
  .bg {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    @include opacity(.2);
  }
  @each $workshop in yoga, painting, circus, singing {
    li.#{$workshop} .bg {
      background: rgba(black,.3) image-url('workshops/navigation/' + $workshop + '.jpg') no-repeat 0 0;
    }
  }
}
