- @title = 'About'

%article
  :markdown
    # What is Waldorf Camp?

    The aim of the project is to create an international summer school for Waldorf pupils on one of the Adriatic islands in Croatia. The summer school would give children and families the opportunity to have an affordable holiday in a safe and beautiful natural setting. A wide range of activities would be organized, including arts, crafts, sports, language classes etc. Excursions would be arranged to explore the history, culture and nature of the local area.
