- @title = 'About'

%article
  :markdown
    # What is Waldorf Camp?

    The aim of the project is to create an international summer school for Waldorf pupils on one of the Adriatic islands in Croatia. The summer school would give children and families the opportunity to have an affordable holiday in a safe and beautiful natural setting. A wide range of activities would be organized, including arts, crafts, (painting, eurythmy, circus etc) sports and language classes. Excursions would be arranged to explore the history, culture and nature of the local area.

    The concept for this project has evolved from three years experience of running a Waldorf summer school on the island of Badija.

    ## Realization of the project

    The summer school would need to be capable of accommodating between 50 and 100 persons at a time. Sometimes these groups would be made up of school classes and their guardians sharing a summer camp together, sometimes they may be family camps for up to 20 or 25 families.

    The ideal location for the summer school would be on a quiet island with an unspoilt natural environment, where there is minimal traffic or tourists.

    The accommodation would be functional and running water and electricity would not be essential. The site should have the potential for basic kitchen, dining, sleeping and sanitary facilities. Other facilities such as beach, garden, camp site, indoor hall, sports field, playground, etc., would also be desirable.

    We are looking for sites which could meet these requirements, including abandoned schools, military buildings, deserted villages and any other appropriate buildings. Part of the project would include undertaking any necessary restoration of the buildings and other facilities.

    ## Benefits

    ### For pupils

    Pupils from Croatia and Norway would benefit from the summer school in many ways. As an absolute minimum, the summer school would provide them with holiday in a beautiful, quiet, natural and secure environment. It would also give them a valuable opportunity to make friends with children from other countries, encouraging them to learn or practice other languages.

    The summer school would also offer pupils opportunities to acquire or develop different skills through a wide range of workshops and sports activities:

    - **sports**: water games, swimming, ball games, archery
    - **music**: singing, playing different instruments, orchestra
    - **performance**: circus, theatre, acrobatics, eurythmy, dance
    - **visual arts**: painting, drawing, sculpture, land art
    - **agriculture**: gardening, horticulture, growing foods, making wine, oils
    - **aquaculture**: fishing, repairing fisherman’s nets
    - **old crafts**: carpentry, masonry, building boats etc.

    Being at the summer school would enable the pupils to deepen their experience of nature and gain knowledge of other cultures. Participating in sports and games would enhance their physical abilities and general health. And living closely with the other children and adults would help to develop their social skills and ability to accept responsibilty through communal tasks and duties etc.

    ## Cost

    It is a key aim of the summer school project is that it should be as widely available as possible to families of different nationalities and income levels. The cost of the summer school would therefore need to be set at an affordable level. The basic nature of the facilities provided should make this achievable.

