@import 'compass';
@import 'susy';

$col-width: 4.236em;

$text: lighten(black, 30%);

$sans-serif: Lato, 'Helveteica Neue', 'Helvetica', sans-serif;

$color1: #FAE187;
$color2: #FF6633;
$color3: #FFEBA3;
$color4: #3B46AD;
$color5: #8792FA;

$link1: $color2;
$link2: adjust-lightness($link1, -10%);

body {
  @include container;
  font: { family: $sans-serif; size: 16px; }
  margin-top: 1.416em;
  line-height: 1.618em;
  color: $text;
}

#{elements-of-type(block)} {
  margin-top: 0;
}

h1 {
  font: { size: 3.706em; weight: 300; }
  line-height: 1em;
  margin-bottom: 0.382em;
}

h2 {
  font: { size: 2.291em; weight: 700; }
  margin: 0.875em 0 0.618em 0;
}

h3 {
  font: { size: 1.416em; weight: 400; }
  text-transform: uppercase;
  margin: 0.875em 0 0.541em 0;
}

a {
  @include hover-link;
  @include link-colors($link1, $link2, $link1, $link1, $link2);
}

nav {
  @include full;
  @include clearfix;
  ol {
    margin: 0;
    padding: 0;
    @include clearfix;
    @include no-bullets;
    @include full($total-cols);
    @include pad(1,1,$total-cols);
    font: { weight: 300; }
    text-transform: uppercase;
    li {
      float: left;
      margin-right: 1.387em;
      &.current a { color: $color2; font-weight: 400; line-height: 1.618em; }
      &:last-child { margin: 0; }
    }
  }
  a {
    @include link-colors($color1, $color2, $color2, $color1, $color2);
    display: block;
    padding: 0.618em; }
}

header {
  @include full;
  margin-bottom: 3.706em;
}

.hgroup {
  @include full($total-cols);
  position: relative;
}

#logo, #tagline { margin: 0; }

#logo {
  @include full($total-cols);
  padding: 0 90em;
  margin: 0 -90em;
  background: $color3;
  font: { size: 5.997em; weight: 700; }
  text-align: center;
  margin-bottom: 0;
  color: $color2;
  a {
    line-height: 0.875em;
    &:hover { text-decoration: none; color: $color2; }
  }
}

#tagline {
  @include full($total-cols);
  font: { size: 1em; weight: 300; }
  text: { transform: uppercase; align: center; }
  letter-spacing: 0.53em;
  color: lighten($color2, 0%);
}

[role='main'] {
  @include full;
}

aside {
  @include columns(3);
  @include alpha;
}
