@import 'compass';
@import 'susy';

$asc: 1.416em 1.618em 2.291em 2.618em 3.706em 4.236em 5.997em 6.854em 9.703em 11.089em 15.699em 17.942em 25.401em 29.03em 41.099em 46.971em 66.498em;
$ideal: 1em;
$desc: 0.875em 0.618em 0.541em 0.382em 0.334em 0.236em 0.207em 0.146em 0.128em 0.09em 0.079em;

@function scale($i: 0) {
  @if $i==0 {
    @return $ideal;
  } @else if $i>0 {
    @return nth($asc, $i);
  } @else {
    @return nth($desc, -$i);
  }
}

@mixin unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

$total-cols: 10;
$col-width: scale(6);

$text: lighten(black, 30%);

$sans-serif: Lato, 'Helveteica Neue', 'Helvetica', sans-serif;

$color1: #229396;
$color2: #8BA88F;
$color3: #C7C5A7;
$color4: #F0DFD0;
$color5: #F23C3C;

$link1: $color2;
$link2: $color1;

$current: $color1;

$nav1: $color3;
$nav2: $color2;

$logo: $color1;
$logo-border: 1px solid $color2;

$tagline: $color2;

$h1: $color1;
$h2: $color1;
$h3: $color2;

body {
  @include container;
  font: { family: $sans-serif; size: 16px; }
  margin-top: scale(2);
  margin-bottom: scale(2);
  line-height: scale(2);
  color: $text;
  overflow-y: scroll;
}

#{elements-of-type(block)} {
  margin-top: 0;
}

h1 {
  font: { size: scale(6); weight: 300; }
  line-height: scale();
  color: $h1;
  margin-bottom: scale(-8);
}

h2 {
  font: { size: scale(4); weight: 300; }
  color: $h2;
  div[role='main'] & {
    line-height: 1em;
    border-bottom: 1px solid $color1;
    margin: scale(-1) 0 scale(-6) 0;
  }
}

h3 {
  font: { size: scale(1); weight: 300; }
  letter-spacing: scale(-7);
  text-transform: uppercase;
  color: $h3;
  margin: scale(-1) 0 scale(-6) 0;
}

a {
  @include hover-link;
  @include link-colors($link1, $link2, $link1, $link1, $link2);
}

img {
  outline: 1px solid rgba(black,.3)
}

nav {
  @include full;
  ol {
    @include clearfix;
    @include unstyled-list;
    @include full($total-cols);
    @include pad(1,1,$total-cols);
    font: { weight: 300; }
    text-transform: uppercase;
  }
  li {
    float: left;
    margin-right: scale(1);
    &.current a { color: $current; font-weight: 400; line-height: scale(2); }
    &:last-child { margin: 0; }
  }
  a {
    @include link-colors($nav1, $nav2, $nav2, $nav1, $nav2);
    display: block;
    padding: scale(-2); }
}

header {
  @include full;
  margin-bottom: scale(5);
}

.hgroup {
  @include full($total-cols);
  position: relative;
}

#logo, #tagline { margin: 0; }

#logo {
  @include full($total-cols);
  @include pad(1,1,$total-cols);
  font: { size: scale(7); weight: 700; }
  text-align: center;
  margin-bottom: 0;
  a {
    color: $logo;
    display: block;
    &:hover { text-decoration: none; }
  }
}

#tagline {
  @include full($total-cols);
  font: { size: scale(); weight: 300; }
  text: { transform: uppercase; align: center; }
  letter-spacing: scale(-3);
  border-top: $logo-border;
  color: $tagline;
  background: lighten($color3,25%);
}

[role='main'] {
  @include full;
}

aside {
  @include columns(3);
  @include alpha;
}

#location {
  @include full($total-cols);
  $cols: 4;
  article {
    @include columns(6, $total-cols);
  }
  .map {
    @include columns($cols, $total-cols);
    @include omega($total-cols);
    margin-top: scale(2);
  }
  iframe {
    @include full($cols);
    width: 100%;
    outline: 1px solid $color1;
  }
  small {
    @include full($cols);
  }
}

#workshops {
  h1 { position: relative; }
  a {
    display: block;
    padding: scale(-5);
    color: $color1;
    outline: 1px solid rgba(black,.2);
    &:hover {
      color: white;
      @include text-shadow(rgba(black,.2) 1px 1px 0);
      text-decoration: none;
      outline: none;
      .bg { @include opacity(1); }
    }
  }
  span {
    position: relative;
    z-index: 1;
  }
  .bg {
    position: absolute;
    top: 0px; left: 0px;
    width: 100%;
    height: 100%;
    @include opacity(.2);
  }
  @each $workshop in yoga, painting, circus, singing {
    article.#{$workshop} .bg {
      background: image-url('workshops/' + $workshop + '.jpg');
    }
  }
}

#gallery {
  @include full($total-cols);
  $cols: 1;
  .nav {
    @include unstyled-list;
    @include columns($cols,$total-cols);
    li { @include full($cols); margin-bottom: scale(1); }
    h1 { font: { size: scale(2); } }
    li.current h1 a {
      font-weight: 400;
      color: $color1;
    }
  }
  $cols: $total-cols - $cols;
  .photos {
    @include unstyled-list;
    @include pie-clearfix;
    @include columns($cols,$total-cols);
    @include omega($total-cols);
    li {
      @include columns(3,$cols);
      line-height: 0;
      margin-bottom: $gutter-width;
      &:nth-child(3n) { @include omega($total-cols); }
    }
  }
}

#contact {
  @include full($total-cols);
  article {
    @include columns(4,$total-cols);
    &:first-child { }
    &:last-child {
      @include pad(1,1,$total-cols);
      @include omega($total-cols);
    }
  }
  p { margin-bottom: scale(-2); }
}
