- @title = 'Contact'

#contact
  %article
    .img
      %img{:src => '/images/contact/helena.jpg'}
    .info
      :markdown
        ## Helena Ivetić
        Contact her about the camp:

        - <hivetic@yahoo.com>
        - +385 98 98 08 631
  %article
    .img
      %img{:src => '/images/contact/matija.jpg'}
    .info
      :markdown
        ## Matija Marohnić
        Contact him about the web site:

        - <matija.marohnic@gmail.com>
