- @title = 'Gallery'

#gallery
  %ol.nav
    - camps.each do |camp|
      %li{class: (camp[:year]==2001 ? 'current' : nil)}
        %h1
          %a{href: '#'}= camp[:year]
  %ol.photos
    = list_of(1..30) do |i|
      %img{src: 'http://placehold.it/235x156&text=Photo'}
