- @title = 'Gallery'

#gallery
  %ol.nav
    = list_of(camps) do |camp|
      %a{href: '#'}
        %h1= camp[:year]
  %ol.photos
    = list_of(1..15) do |i|
      %img{src: 'http://placehold.it/235x156&text=Photo'}
