- @title = 'Gallery'

#gallery
  %h1= @current_camp.title
  %ol.nav
    - @camps.each do |camp|
      - year, island = camp.title.split(', ')
      %li{:class => camp.title == @current_camp.title && 'current'}
        %h1
          %a{:href => "/gallery/#{year}-#{island.downcase}"}= year
  %ol.photos
    = list_of(@current_camp.photos.map { |photo| photo.medium(500) }) do |photo|
      %a{:href => photo.largest.source_url, :rel => 'gallery'}
        %img{:src => photo.source_url}

  %a.delete-cache{:href => "/gallery/delete_cache"} &nbsp;
