- @title = 'An Active and Dynamic Vacation'

markdown:
  # 2012
  This is where upcoming camps will be announced, so stay tuned... Meanwhile, feel free to look around the site, you can see what [workshops](/workshops) are about, check out our [photo gallery](/gallery) etc.
