- @title = 'An Active and Dynamic Vacation'

%article
  :markdown
    # Welcome!

    This is where upcoming camps will be announced, so stay tuned... Meanwhile, feel free to look around the site, you can see what [workshops](/workshops) are about, check out our [photo gallery](/gallery) etc.

    If you're new around here and want to learn more about the camp, you can find out [here](/about).
