- @title = 'Workshops'

#workshops
  - workshops.each do |workshop|
    %article{class: workshop.downcase}
      %h1
        %a{href: "/workshops/#{workshop.downcase}"}
          %span= workshop
          .bg
