- @title = 'Circus'

== partial "partials/workshops_nav".to_sym

article.workshop
  markdown:
    # Circus

    The workshop is held twice a day---once for smaller children and once for older children and adults. Circus is a workshop which includes a great variety of activities, like juggling, balances, acrobatics, clowning, parkour, diabolo, poi, silk and pretty much everything else that comes to your mind!

    During the first half of the workshop, attendants will be introduced with all the possibilities offered to them. Through games and other activities they will be able to learn new things or practice what they already know. During the second half of the workshop, attendants will start preparing for the big performance at the end of the workshop.

    The goal of the workshop is developing creativity, discovering new talents and to have as much fun as possible!
