- @title = 'Painting'

article.workshop
  markdown:
    # Painting

    Lectus non hac sed dolor porttitor, velit nisi. Dictumst, integer pellentesque scelerisque magna turpis mattis sagittis eu. Placerat penatibus in mus ac, enim ultrices. Risus cursus, odio rhoncus et diam scelerisque purus in? Parturient et adipiscing. Eu turpis ut scelerisque? Vel eros integer sed nec quis et. Cum. Magna scelerisque rhoncus amet tincidunt dictumst et diam tempor odio auctor velit ac ridiculus placerat turpis integer, dis, porttitor adipiscing, porta a. Odio magnis, massa non mattis lundium, porta auctor sed facilisis, in aenean? Turpis aliquet, placerat sit sit massa turpis pid sit lorem, pulvinar proin? Scelerisque dignissim sit vel?

    Tristique, amet mid cursus, ultrices lectus? Turpis? Dapibus porta ut cursus scelerisque a elit, a et integer phasellus arcu dignissim tempor dictumst, cras, a enim enim sed arcu?
