- @title = 'Singing'

== partial "partials/workshops_nav".to_sym

article.workshop
  markdown:
    # Singing

    During Waldorf Camps 2010 and 2011 Hana Mačkovšek Šloser and Nino Šloser held workshops of West African songs and rhytms. Their main aim was to teach a few of many West African songs and rhytms with help of sounds of our bodies (body percussion method), with simple natural instruments (like stones), through singing and vocalizing them and, of course, with dancing and playing on typical West African percussion instruments -- djembe and dunun. These were cross- generational workshops, suitable for children, their parents and grandparents and great chance for all these generations to be active together through music. 

    Mentors Hana Mačkovšek Šloser and Nino Šloser are music teachers from Slovenia, who both graduated on the topic of West African rhytms and percussions and are both active in field of multicultural musical education.
