- @title = 'Yoga'

= partial "partials/workshops_nav".to_sym

%article.workshop
  :markdown
    # Yoga

    ![Lidija doing yoga](/images/workshops/yoga.jpg)

    Practicing yoga means meeting your own self -- feeling your own body, becoming aware of your thoughts, allowing your emotions to emerge, experiencing your inner energy and encouraging your creativity.

    The yoga lessons are held in the morning in the open, so that we can feel the nature and the peace of the island. The lesson consists of body postures (*asanas*), breathing techniques (*pranayama*), relaxation and meditation. The body becomes more flexible, we awaken our energy and reach the state of inner peace and love. We feel excellent and wish to share it with the others.

    The workshop is conducted by Lidija Georgieva, who is the owner and manager of her Yoga centre in Skopje, Macedonia ([www.yogacenter.com.mk](http://www.yogacenter.com.mk)).
