.navigation {
  background-color: white;
  border-bottom: 1px solid shade(white, 10%);

  .container {
    > * {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .l-fl {
    i {
      @include position(relative, -1px 0 0 0);
    }

    a {
      display: inline-block;
      padding: $suh;
      border-bottom: none;

      &:first-child {
        line-height: $sub;
      }
    }
  }

  .active {
    font-weight: nth($base-weight, 3);
    color: $link-hover-color;
  }
}
