- @title = 'Contact'

%article
  %h1 Contact

  .contact-card
    .contact-card-header
      %h3 Helena Ivetić

    .contact-card-img
      = image_tag "contact/helena.jpg", alt: "Helena Ivetić"

    .contact-card-body
      .space-half-bottom
        Contact her about the camp:

      %ul.list-unstyled.space-half-top
        %li= mail_to "camp.waldorf@gmail.com"
        %li +385 92 17 65 555

  .contact-card
    .contact-card-header
      %h3 Matija Marohnić

    .contact-card-img
      = image_tag "contact/matija.jpg", alt: "Matija Marohnić"

    .contact-card-body
      .space-half-bottom
        Contact him about the site:

      %ul.list-unstyled.space-half-top
        %li= mail_to "matija.marohnic@gmail.com"
        %li +385 91 88 71 971
