- @title = 'Contact'

%article
  :markdown
    # Helena Ivetić

    ![photo of Helena](/assets/contact/helena.jpg)

    Contact her about the camp:

    - <waldorfcamp@yahoo.com>
    - +385 98 98 08 631

%article
  :markdown
    # Matija Marohnić

    ![photo of Matija](/assets/contact/matija.jpg)

    Contact him about the web site:

    - <matija.marohnic@gmail.com>
    - +385 91 88 71 971
