- @title = 'Contact'

#contact
  %article
    .img
      = image_tag 'contact/helena.jpg'
    .info
      %h2 Helena Ivetić
      %p Contact her about the camp:

      %ul
        %li= mail_to 'waldorfcamp@yahoo.com'
        %li +385 98 98 08 631

  %article
    .img
      = image_tag 'contact/matija.jpg'
    .info
      %h2 Matija Marohnić
      %p Contact him about the web site:

      %ul
        %li= mail_to 'matija.marohnic@gmail.com'
