- @title = 'Contact'

%article
  %h1 Contact

  .row
    .col-xs-12.col-sm-6
      .thumbnail.media
        .pull-left
          = image_tag "contact/helena.jpg", class: "media-object", alt: "Helena Ivetić"

        .media-body.m-top-hl
          %h3.media-heading Helena Ivetić
          %p Contact her about the camp:

          %ul.list-unstyled.m-top-hl
            %li= mail_to "camp.waldorf@gmail.com"
            %li +385 92 17 65 555

    .col-xs-12.col-sm-6
      .thumbnail.media
        .pull-left
          = image_tag "contact/matija.jpg", class: "media-object", alt: "Matija Marohnić"

        .media-body.m-top-hl
          %h3.media-heading Matija Marohnić
          %p Contact him about the website:

          %ul.list-unstyled.m-top-hl
            %li= mail_to "matija.marohnic@gmail.com"
            %li +385 91 88 71 971
