- @title = 'Contact'

%article
  %h1 Contact

  %section
    :markdown
      ![photo of Helena](/assets/contact/helena.jpg)

      ## Helena Ivetić

      Contact her about the camp:

      - <waldorfcamp@yahoo.com>
      - +385 98 98 08 631

  %section
    :markdown
      ![photo of Matija](/assets/contact/matija.jpg)

      ## Matija Marohnić

      Contact him about the site:

      - <matija.marohnic@gmail.com>
      - +385 91 88 71 971
