- @title = 'Contact'

%article
  = image_tag 'contact/helena.jpg'
  :markdown
    # Helena Ivetić

    Contact her about the camp:

    - <waldorfcamp@yahoo.com>
    - +385 98 98 08 631

%article
  = image_tag 'contact/matija.jpg'
  :markdown
    # Matija Marohnić

    Contact him about the web site:

    - <matija.marohnic@gmail.com>
    - +385 91 88 71 971
