- @title = 'An Active and Dynamic Vacation'

%article.post
  :markdown
    # Waldorf Camp, Olib 2013

    Waldorf Camp was a great success this year! Photos are here! Not on the website yet, but you can see them on [Flickr](http://www.flickr.com/photos/waldorfcamp/sets/72157635390780801/) :)
