- @title = 'An Active and Dynamic Vacation'

%article.post
  :markdown
    # Waldorf Camp, Olib 2013

    Waldorf Camp was a great success this year! Photos are coming soon, as soon as we pick them. If someone already has photos, please, send them to <waldorfcamp@yahoo.com>.

.alert.alert-important
  :markdown
    ## Warning!

    Apparently someone hacked our email address (waldorfcamp@yahoo.com) and sent emails with the subject "Vacation Trauma : Helena Ivetić" asking for a loan after a robbery in Phillipines. We really hope nobody fell for that and should always call the person in question.

  / googleoff: index

  .email
    :markdown
      **Subject**: Vacation Trauma : Helena Ivetić<br>
      **From**: waldorfcamp@yahoo.com<br>
      **Reply-To**: waldorfcamp@hotmail.com<br>

      Sorry for any inconvenience, but I'm in a terrible situation. I came down here to Manila, Philippines for a program,last night on my way back to my hotel room I was robbed at gunpoint, my wallet and other valuables were stolen off me, leaving my passport and life safe. My luggage is still in custody of the hotel management pending when I make payment on outstanding bills I owe. I called my bank for a wire transfer but it has proven almost Impossible to operate my account from here as they made me understand international transactions take 7 working days to be effective which i can't wait. I will be indeed very grateful if i can get a  loan of  ($2,500)  to settle out my hotel bills,  I will reimburse you soon as I get back Home. I will appreciate whatever you can assist me with. Let me know if you can be of help.

      All hopes on you.

      Helena

  / googleon: index

  :markdown
    There are a few ways you can tell that this is a hoax:

      * Helena is in Phillipines? That sounds suspicious.
      * Random words are capitalised and some of them aren't (like "I").
      * "$2,500" is written in parenthesis and surrounded by extra spacing.
      * This is the most important one: when starting to reply, notice that you aren't replying to waldorfcamp@yahoo.com, but to waldorfcamp@**hotmail.com**! This is an address made by the hackers where the conversation would continue, they would act like they're Helena and would eventually give the bank info for payment (our guess).
