- @title = 'An Active and Dynamic Vacation'

%article
  :markdown
    # Waldorf camp, 2012

    ## On Olib

    ![map of Olib](/assets/olib.jpg)

    **Where and When**: We invite you to join us at the international family Waldorf summer camp which is to take place from the 29th July to 12th August 2012 on the [island of Olib](/location).

    **Activities**: We have prepared a number of workshops for children and parents: painting, capoeira, yoga and music workshops led by several returning and some new music admirers. Some of our activities and gathering will take place in a local school yard and some in other places provided by the generous Olib community. We are also going to continue with the National Evenings which we believe will become a firm tradition. Here we expect your engagement: prepare songs, dances, games from your country; we are not going to refuse any national gastro specialties that went down very well former years :)

    In addition to creative and educational contents enriching our joint vacations, our favourite aim is to experience, together with our children, the joy of a regular human contact through live word,  movement, music and  other activities.

    **Organization**: This year there is something new in the organisational part of the camp. As it has become very popular and very well visited we have founded **Kvija** -- a non-profit voluntary association for the promotion of co-operation in families and society. The name has not been chosen by accident – Kvija was a Roman goddess of peace, tranquillity and rest, so we believe that she is going to favour us and gift us with exactly those promises.

    **Participation fee**: Participation fee is 110 EUR per person and is payable regardless of participation in workshops and/or shorter stay, including children aged between 5 and 18. Our engagement and efforts for workshop organization is the same as are the costs, no matter for how long are you planning to stay. For this price every participant is eligible to take part in all workshops, or none (8 hours of workshops per day). During painting workshop you will get one big canvas or two small one. You can get extra canvas: 10 EUR for big one or 5 EUR for small one.

    If you are staying 4 days or shorter, and don’t attend any workshop, there is no obligation to pay participation fee. In this case the price for one day painting workshop is 15 EUR, and for other workshops 10 EUR.

    **Participation fee discount for children**: Families with two, three or more children may have following discounts: for the second or third child aged from 5-7, 50%; for children aged above 7, 20% discount for the second child, 40% for the third child, 80% for the fourth child, and the fifth child is free of participation fee.

    Participation fees should be paid into the Association’s bank account and no later than 1st July 2012!

    **Accommodation**: The accommodation is organised in family apartments on the island. We will be placed in several houses with bath and kitchen. The price per bed depends on the accommodation and will be approximately 15 EUR. Tourist tax should be paid separately to the tourist office the very first day of the camp: 0.8 EUR per day per person older than 12 years.

    **Food**: Lunch will be organized in the restaurant near the beach. There in a nice olive garden we will have our meeting point. The price for lunch will be 7-8 EUR, depending on the number of participants, and for kids we will have a discount, for kids born 1999 and later a discount is 20%. If you want to have a dinner as well it will cost you EUR 6 more. There is an option for vegetarian or vegan food. Lunch is obligatory for every participant.

    **Transfer**: You can take a ferry from Zadar which will only take about two hours. You may check the [ferry schedule](http://www.jadrolinija.hr/pdfs/401%20Vansezona.en.2012.pdf) to avoid any inconvenience. You can also take catamaran, [Miatours](http://www.miatours.hr/index-e.html), which is faster, but no cars or bikes are allowed. It is desirable to buy a ticket for ferry and catamaran in advance, and if you are interested in this possibility, please contact the organizers.

    Contact [Helena Ivetić](/contact) and book your place in time!
