- @title = 'An Active and Dynamic Vacation'

%article.post
  :markdown
    # New contact email address

    Apparently they hacked our email account (I blame Yahoo!), so we created a new Gmail address <camp.waldorf@gmail.com>. Please use that one in the future and update your contact books.

    —Matija Marohnić

%article.post
  :markdown
    # Waldorf Camp, Olib 2013

    Waldorf Camp was a great success this year! Photos are here! Not on the website yet, but you can see them on [Flickr](http://www.flickr.com/photos/waldorfcamp/sets/72157635390780801/) :)
