- @title = 'An Active and Dynamic Vacation'

%article.post
  :markdown
    # Olib 2014

    We invite you to join us at the international family Waldorf Summer Camp
    which is to take place from the August 2nd to 16th 2014 on the beautiful
    island of Olib!

    The website has been updated with the content related to the upcoming camp,
    so feel free to look around :)

    <iframe class="m-top" width="640" height="360" src="//www.youtube.com/embed/nFGdO5NtF2M?rel=0" frameborder="0" allowfullscreen></iframe>
