- @title = 'An Active and Dynamic Vacation'

%article.post
  :markdown
    # Waldorf Camp, Olib 2013

    Waldorf Camp was a great success this year! Photos are coming soon, as soon as we pick them. If someone already has photos, please, send them to <waldorfcamp@yahoo.com>.
