- @title = "Location"

%article
  %h1 Olib, Croatia

  .m-bottom
    .img-thumbnail.m-bottom-hl
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=olib,+croatia&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.569986,107.138672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Olib&amp;ll=44.377023,14.785711&amp;spn=0.168825,0.41851&amp;t=m&amp;z=12&amp;output=embed"></iframe>
    %div= link_to "View map".prepend_icon("compass"), "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=olib,+croatia&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.569986,107.138672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Olib&amp;ll=44.377023,14.785711&amp;spn=0.168825,0.41851&amp;t=m&amp;z=12", class: "view_map"

  :markdown
    For the past few years the camp is being held on Olib, a small island located in the Zadar archipelago just east from Silba Island and west of Pag Island. Olib is also the name of the main town on the Island, this historic town dates back to the 10th century and was inhabited by the Roman Empire. There are many archaeological sites scattered around the town which can be explored. Island of Olib is best known for its wines, olive oils and cheeses, its cheese culture it shares with its neighbor Island of Pag. Olib is an island of pedestrians, with no cars or motorcycles. There are few restaurants, bars, a shop, post office, exchange office and tourist board office. It has many lovely coves and beaches for swimming and boating.
