- @title = "Location"

%article
  %h1 Olib, Croatia

  .m-bottom
    .img-thumbnail.m-bottom-hl
      <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=olib,+croatia&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.569986,107.138672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Olib&amp;ll=44.377023,14.785711&amp;spn=0.168825,0.41851&amp;t=m&amp;z=12&amp;output=embed"></iframe>
    %div= link_to "View map".prepend_icon("compass"), "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=olib,+croatia&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.569986,107.138672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Olib&amp;ll=44.377023,14.785711&amp;spn=0.168825,0.41851&amp;t=m&amp;z=12", class: "view_map"

  :markdown
    Olib is one of the most beautiful Croatian islands located in the Zadar
    archipelago just east if the island Silba and west of the island Pag. Olib
    area is only 26km², and there isonly one village on the island that dates
    back to Roman times, but has many lovely and hidden coves, as well as the
    wide, sandy and shallow beaches offering great oportunities for bathing,
    boating and playing.Olib is also very green fertile island with many kinds
    of produce including good wine, olives, fish and a very good sheep's
    cheese. There are no cars and the island has a quiet, relaxing and
    friendly atmosphere. There are a few restaurants, bars (Milivoj's bar by
    the mole is very well known for their offerings and music!), a shop, post
    office, exchange office and tourist board office. Olib island is a great
    place for cycling!

    #{image_tag "/assets/invitation/transfer.jpg", class: "img-thumbnail pull-left m-right-hl m-bottom-hl", size: "366x247"}

    ## Transfer

    You can take a ferry from Zadar which will only take about two hours. You
    may check for ferry schedules at [Jadrolinija](http://www.jadrolinija.hr) ([schedule](http://www.jadrolinija.hr/docs/default-source/red-plovidbe/2015/401-sezona-2015-en.pdf?sfvrsn=2))
    to avoid any inconvenience (District of Zadar: Zadar – Premuda/Mali
    Losinj).

    You can also take the catamaran [Miatours](http://miatours.hr) ([shcedule](http://miatours.hr/plovidbeni-red/zadar-premuda-silba-olib/ljetni)) which
    is faster, but no cars or bikes are allowed. On catamaran there is also a
    baggage limit - one piece of baggage is allowed per person. It is desirable
    to buy a ticket for the ferry or catamaran in advance, and if you are
    interested in this possibility, please contact the organizers.
