- @title = 'Pricing'

%article
  %h1 Pricing

  :markdown
    ## Participation fee

    Participation fee which includes attendance to an
    unlimited number of workshops is 110 € per person,
    including children aged between 5 and 18. If you are
    staying 4 days or shorter, and don’t attend any
    workshop, the participation fee is optionaly.
    Participation fees should be paid into the Kvija’s
    bank account (before 15 April, 2014!).

    Participation fees should be paid into the
    Association’s bank account:

    <address class="text-info">
      <strong>Udruga Kvija</strong><br>
      Savska 19<br>
      10000 Zagreb<br>
      2402006-1100625588<br>
      <abbr title="International Bank Account Number">IBAN</abbr>: HR 0424020061100625588<br>
      <abbr title="Bank Identifier Code">BIC</abbr>: ESBC HR 22<br>
    </address>

    But before paying you need to register using the
    "Register" button in the upper-right corner. You can
    submit payment after you receive the registration
    confirmation.

    ## Discount for children

    Families with two, three or more children may have
    following discounts for participation fee:

    * children under 5 yrs do not pay the participation fee
    * 50% for the 2nd or 3rd child aged from 5-7 yrs
    * 20% for the 2nd child aged above 7 yrs
    * 40% for the 3rd child aged above 7 yrs
    * 80% for the 4th child
    * the 5th child is free of participation fee
