.workshops {
}

  .workshop {
    text-align: center;

    a {
      border-bottom: none;

      #{$interact} {
        background-color: transparent;
      }
    }
  }

  .workshop-single {
    img, .img {
      @extend .img-thumbnail;
      float: left;
      margin-right: $sub;
      margin-bottom: $suh;
    }
  }
