.l-main {
  padding-top: $bsu;
  padding-bottom: $hsu;

  .l-page-pages-index &,
  .l-page-pages-workshop & {
    img {
      @extend .polaroid;
      max-height: 100%;
    }

    .img {
      margin-bottom: $hsu;

      &.pull-left {
        margin-right: $hsu;
      }

      &.pull-right {
        margin-left: $bsu;
      }
    }
  }
}
