.l-navigation {
  background-color: white;
  border-bottom: 1px solid shade(white, 10%);

  .l-page-pages-index & {
    border-bottom: none;
  }

  .l-container > * {
    padding: $hsu;
    border-bottom: none;
  }

  .active {
    font-weight: nth($base-weight, 3);
    color: $link-hover;
  }
}
