.l-sub-navigation {
  background-color: shade(white, 5%);

  a {
    @include color-link(rgba(black, .5), rgba(black, .75));
    border-bottom: none;
    padding: $hsu/2 $hsu;
  }

  .active {
    font-weight: nth($base-weight, 3);
    color: $link-hover;
  }
}
