.gallery {
  @extend .clearfix;

  a {
    $padding: 1px;
    display: inline-block;
    float: left;
    width: 100/5 * 1%;
    height: 120px;
    margin-left: - $padding;
    padding: $padding;
    border-bottom: none;
    opacity: 0.9;
    overflow: hidden;

    @include on-interact {
      background: none;
      opacity: 1;
    }
  }
}
