<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% if (file.data.title) { %>
      <title>Waldorf Camp ∙ <%= file.data.title %></title>
    <% } else { %>
      <title>Waldorf Camp</title>
    <% } %>
    <meta name="description" content="<%= file.data.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Open+Sans:300,600:latin,latin-ext' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <link rel="stylesheet" href="/styles/app.css">
  </head>
  <body class="page-<%= file.data.type %> page-<%= file.data.id %>">
    <nav class="navigation">
      <div class="container row">
        <a href="/">Waldorf Camp</a>

        <div class="row">
          <ol class="navigation-list row">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/location">Location</a></li>
            <li><a href="/workshops">Workshops</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/pricing">Pricing</a></li>
          </ol>

          <div class="navigation-actions row">
            <a href="http://eepurl.com/M7N7T">Receive news</a>
            <a href="https://docs.google.com/forms/d/1cQIyvfsGTy_K0frFLOO6siQK34gD1zJOe7MS5kwtS84/viewform">Participate</a>
          </div>
        </div>
      </div>
    </nav>

    <main class="main">
      <div class="container">

        <%= contents %>

      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <p class="footer-credits">Design &amp; development by <a href="http://twin.github.io">Janko &amp; Matija Marohnić</a>. Photography by Jadranka Marohnić, Željko Marohnić, and other contributors.</p>

        <ul class="footer-social row">
          <li><a href="mailto:camp.waldorf@gmail.com">Email</a></li>
          <li><a href="https://facebook.com/waldorfcamp">Facebook</a></li>
          <li><a href="https://twitter.com/waldorfcamp">Twitter</a></li>
          <li><a href="https://plus.google.com/114689702792346575599">Google Plus</a></li>
          <li><a href="https://www.youtube.com/channel/UCJSkP0RNskbgly3W4gvoOaw">YouTube</a></li>
          <li><a href="https://www.flickr.com/photos/waldorfcamp">Flickr</a></li>
        </ul>
      </div>
    </footer>

    <script src="/scripts/bundle.js"></script>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '519e46ecf5a1f51adc000073');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://track.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
