.brand {
}

  .brand-logo {
    font-weight: nth($base-weight, 3);

    a {
      border-bottom: none;

      #{$interact} {
        background: none;
      }
    }
  }

  .brand-tagline {
    text-transform: uppercase;
    letter-spacing: 2px;
  }
