.social {
  padding: $suh;
  font-family: "icomoon";
  font-size: 32px;
  line-height: 1;

  a {
    display: inline-block;
    padding: $suh/2;
    border-bottom: none;
    border-radius: 50%;

    #{$interact} {
      color: #fff;
    }
  }
}

  .social-email {
    color: $color-gmail;

    #{$interact} {
      background-color: $color-gmail;
    }
  }

  .social-facebook {
    color: $color-facebook;

    #{$interact} {
      background-color: $color-facebook;
    }
  }

  .social-twitter {
    color: $color-twitter;

    #{$interact} {
      background-color: $color-twitter;
    }
  }

  .social-google-plus {
    color: $color-google-plus;

    #{$interact} {
      background-color: $color-google-plus;
    }

    i {
      position: relative;
      left: 2px;
    }
  }

  .social-youtube {
    color: $color-youtube;

    #{$interact} {
      background-color: $color-youtube;
    }
  }

  .social-flickr {
    @include transform(rotate(0deg));
    color: $color-flickr-blue;

    #{$interact} {
      @include transform(rotate(180deg));
      background-color: $color-flickr-pink;
    }
  }
