.social {
  padding: $suh;
  font-family: "icomoon";
  font-size: 32px;
  line-height: 1;

  a {
    display: inline-block;
    padding: $suh/2;
    border-bottom: none;
    border-radius: 50%;

    #{$interact} {
      color: #fff;
    }
  }
}

  @each $network, $color in $network-colors {
    .social-#{$network} {
      color: $color;

      #{$interact} {
        background-color: $color;
      }
    }
  }

  .social-google-plus {
    i {
      position: relative;
      left: 2px;
    }
  }

  .social-flickr-blue {
    #{$interact} {
      background-color: map-get($network-colors, "flickr-pink");
    }
  }
