$total-columns: 24;
$gutter-width: 2em;
$grid-padding: 0;
$container-width: 100%;

$nav-primary: 3;
$nav-secondary: 3;
$header: $total-columns - $nav-secondary;
$main: $total-columns - $nav-primary - $nav-secondary;

$base-font-size: 20px;
$base-line-height: 30px;

$colors: #B52C38 #EBD1B0 #536682 #D9964B #DE6846;

$text: lighten(black, 30%);

$link1: nth($colors, 4);
$link2: darken($link1, 15%);

$body: 'Gentium Basic', Georgia, serif;
$heading: $body;
$display: 'Love Ya Like A Sister', sans-serif;

@mixin unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
