html {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1 {
  color: nth($colors, 3);
  font-weight: 300;
}

h2 {
  margin-top: $sub;
  font-weight: 300;

  strong {
    font-weight: 400;
    color: #000;
  }
}

h3 {
  margin-top: $sub;
  margin-bottom: $suh;
  color: rgba(#000, .6);
}

a {
  @include transition(.2s);
  display: inline-block;
  border-bottom: 1px solid rgba(nth($colors, 2), .25);

  #{$interact} {
    background-color: rgba(nth($colors, 3), .15);
    border-color: nth($colors, 4);
    text-decoration: none;
  }
}

address {
}
