#contact {
  $contact: floor($total-columns / 2);
  section {
    @include span-columns($contact);
    img { max-height: 100%; }
    height: rhythm(10);
    &:last-child { @include omega; }
    $cols: 2;
    .img {
      @include reset-columns(right);
      @include span-columns($cols, $contact);
      line-height: 0;
    }
    $cols: $contact - $cols;
    h2, p, ul { @include span-columns($cols omega, $contact); }
    p { @include trailer(.5); }
    ul {
      @include box-sizing(border-box);
      padding-left: 30px;
    }
  }
}
