#gallery {
  .photos {
    @include horizontal-list(0);
    img { max-width: none; }
    li {
      overflow: hidden;
      width: 230px;
      height: 240px;
      margin: 0 1px 1px 0;
    }
    a {
      @include opacity(.85);
      display: block;
      line-height: 0;
      &:hover {
        @include opacity(1);
        background: none;
        border: 0;
      }
    }
  }
}

.fancybox-wrap a:hover {
  background: none;
}
