#gallery {
  .photos {
    @include horizontal-list(0);
    img { max-height: 100%; }
    li {
      height: 210px;
      margin: 0 10px 10px 0;
    }
    a:hover {
      background: none;
      border: 0;
    }
  }
}

.fancybox-wrap a:hover {
  background: none;
}
