#header {
  $color1: rgba(nth($colors, 1), .1);
  $color2: white;
  @include rhythm(.5, 0, 0, .5);
  @include box-sizing(border-box);
  @include background(linear-gradient(
    top left,
    $color1 25%,
    $color2 25%,
    $color2 50%,
    $color1 50%,
    $color1 75%,
    $color2 75%
  ));
  @include background-size(4px 4px);
  hgroup {
    $padding: 1;
    $spacing: $spacing - $padding;
    @include squish($spacing, $spacing);
    @include pad($padding, $padding);
    @include rhythm(0, .5, .5, 0);
    outline: 10px solid white;
    background: white image-url('header.jpg') no-repeat center;
  }
}

#logo, #tagline {
  font: {
    family: $display;
    weight: normal;
  }
}

#logo {
  $font-size: 112px;
  @include adjust-font-size-to($font-size, 3.5);
  @include trailer(0, $font-size);
  @include text-shadow(rgba(black, .75) 1px 1px 0);
  a {
    $color1: white;
    $color2: white;
    @include link-colors($color1, $color2, $color2, $color1, $color2);
    &:hover {
      background: none;
      border: 0;
    }
  }
}

#tagline {
  $font-size: 20px;
  @include adjust-font-size-to($font-size);
  @include trailer(0, $font-size);
  margin-left: 8px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: rgba(black, .8);
  @include text-shadow(rgba(white, .5) 0 1px 0);
}
