#header {
  @include span-columns($header);
  @include prefix(1);
  @include rhythm(1, .5, .5, .5);
  @include box-sizing(border-box);
  @include box-shadow(
    rgba(black, .5) 0 0 0 1px,
    white 0 0 0 5px
  );
  position: relative;
  z-index: 10;
  background: white image-url('header.jpg') no-repeat center;
}

#logo, #tagline {
  font: {
    family: $display;
    weight: normal;
  }
}

#logo {
  $font-size: 112px;
  @include adjust-font-size-to($font-size, 3.5);
  @include trailer(0, $font-size);
  @include text-shadow(rgba(black, .75) 1px 1px 0);
  a {
    $color1: white;
    $color2: white;
    @include link-colors($color1, $color2, $color2, $color1, $color2);
    &:hover {
      background: none;
      border: 0;
    }
  }
}

#tagline {
  $font-size: 20px;
  @include adjust-font-size-to($font-size);
  @include trailer(0, $font-size);
  margin-left: 8px;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: rgba(black, .8);
  @include text-shadow(rgba(white, .5) 0 1px 0);
}
