#location {
  article {
    $cols: 12;
    p { @include span-columns($cols, $main); }
    $cols: $main - $cols;
    iframe, small {
      @include span-columns($cols omega, $main);
      clear: right;
    }
  }
}
