#location {
  $cols: 4;
  article {
    @include span-columns(6);
  }
  .map {
    @include span-columns($cols omega);
    margin-top: scale(2);
  }
  iframe {
    width: 100%;
    outline: 1px solid $color1;
  }
}
