[role='main'] {
  @include span-columns($main);
  @include prefix($nav-primary);
}

article {
  $font-size: 24px;
  h2 {
    @include adjust-font-size-to($font-size);
    @include trailer(1, $font-size);
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    color: lighten($text, 40%);
    letter-spacing: 4px;
  }

  h1 + h2 {
    @include leader(-1, $font-size);
  }

  $cols: 6;
  .img, .iframe {
    @include span-columns($cols, $main, right);
    clear: right;
  }
}
