nav {
  a, .active { display: block; }
}

$font-size: 14px;
nav.primary {
  @include adjust-font-size-to($font-size);
  margin-left: rhythm(-0.5);
  $background: nth($colors, 3);
  $color1: $background;
  $color2: lighten($color1, 5%);
  font-family: $sans;
  text: {
    align: center;
    transform: uppercase;
  }
  ol, ul { @include horizontal-list(0); }
  a, .active { padding: rhythm(.25, $font-size) rhythm(.5, $font-size); }
  a {
    $color1: rgba($link1, .75);
    $color2: $link2;
    @include link-colors($color1, $color2, $color2, $color1, $color2);
    &:hover {
      background: rgba(white, .1);
      border: 0;
    }
  }
  color: $link2;
  .active {
    background: rgba(white, .2);
    font-weight: bold;
  }
}

$font-size: 18px;
nav.secondary {
  @include adjust-font-size-to($font-size);
  $background: nth($colors, 4);
  ol, ul {
    @include horizontal-list(0);
    li {
      margin: 0 1px 1px 0;
    }
  }
  a, .active { padding: rhythm(.25, $font-size) rhythm(.75, $font-size); }
  a {
    $color1: rgba(black, .35);
    $color2: $text;
    @include link-colors($color1, $color2, $color2, $color1, $color2);
    &:hover {
      background: none;
      border-bottom: 0;
    }
  }
  .active {
    background: rgba($background, .2);
    @include h-borders(1px, .25);
    border-color: rgba($background, .5);
  }
}
