#workshops ul {
  @include unstyled-list;
  @include clearfix;
  $cols: floor($site / 4);
  li {
    @include span-columns($cols, $site);
    &:last-child { @include omega; }
  }
  a {
    $font-size: 24px;
    $color1: white;
    $color2: white;
    @include adjust-font-size-to($font-size);
    @include link-colors($color1, $color2, $color2, $color1, $color2);
    @include opacity(.75);
    @include background-size(cover);
    @include text-shadow(rgba(black, .5) 1px 1px 1px);
    display: block;
    text-align: center;
    padding: rhythm(3, $font-size) 0;
    &:hover {
      @include opacity(1);
      border: 0;
    }
    background: transparent no-repeat 0 0;
    @each $workshop in yoga, painting, circus, singing {
      &.#{$workshop} { background-image: image-url('workshops/navigation/#{$workshop}.jpg'); }
    }
  }
}
