%footer.footer
  .container
    :markdown
      This site was made by [Janko](https://twitter.com/m_janko) &amp; [Matija](https://twitter.com/silvenon) Marohnić. For any questions, suggestions or something else, #{contact_link "contact us"}.
