%nav.navigation
  .container.l-fl
    = link_to icon("brightness-high"), root_path, class: "icon-container"
    - navigation_pages.each do |page|
      = link_to_unless_current page.title, page.route do
        = link_to page.title, page.route, class: "active"
