---
title: 'About'
---

#map
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=olib,+croatia&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.569986,107.138672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Olib&amp;ll=44.377023,14.785711&amp;spn=0.168825,0.41851&amp;t=m&amp;z=12&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=olib,+croatia&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=47.569986,107.138672&amp;vpsrc=6&amp;ie=UTF8&amp;hq=&amp;hnear=Olib&amp;ll=44.377023,14.785711&amp;spn=0.168825,0.41851&amp;t=m&amp;z=12" style="color:#0000FF;text-align:left">View Larger Map</a></small>

%article
  :markdown
    # The Waldorf Camp

    Something about the camp itself here.

%article
  :markdown
    # Location

    **Olib** is a small island located in the Zadar archipelago just east from Silba Island and west of Pag Island. Olib is also the name of the main town on the Island, this historic town dates back to the 10th century and was inhabited by the Roman Empire. There are many archaeological sites scattered around the town which can be explored. Island of Olib is best known for its wines, olive oils and cheeses, its cheese culture it shares with its neighbor Island of Pag. Olib is an island of pedestrians, with no cars or motorcycles. There are few restaurants, bars, a shop, post office, exchange office and tourist board office. It has many lovely coves and beaches for swimming and boating.

  -# ## How to get there?

  -# You can take a ferry from Zadar which will only take about two hours. You may check for [ferry schedules](http://www.jadrolinija.hr/pdfs/401.2011.zima.hr.pdf) to avoid any inconvenience (Zadar -- Premuda/Mali Lošinj) . You can also take a catamaran (Miatours -- you can check the schedule [here](http://www.miatours.hr/index-en.htm)) which is faster, but no cars or bikes are allowed. It is desirable to buy a ticket for ferry and catamaran in advance, and if you are interested in this possibility, please contact the organizers.

%article
  .img= image_tag 'workshops.jpg'
  :markdown
    # Workshops

    Workshops are the main part of the camp, they make your stay here very different from your regular vacation! They vary from year to year, but there are ones which are more or less constant and they are suitable for both children and parents: *yoga*, *painting*, *circus* (juggling, silk, performances and motions, acrobalance, games...) and *singing*. If you have an idea for a new workshop or even want to lead one, please, [let us know](mailto:helena.ivetic@waldorfcamp.net)! We all want to learn and have fun :)
