---
title: 'About'
---


%article
  :markdown
    # The Waldorf Camp

    Something about the camp itself here.

%article
  :markdown


  -# ## How to get there?

  -# You can take a ferry from Zadar which will only take about two hours. You may check for [ferry schedules](http://www.jadrolinija.hr/pdfs/401.2011.zima.hr.pdf) to avoid any inconvenience (Zadar -- Premuda/Mali Lošinj) . You can also take a catamaran (Miatours -- you can check the schedule [here](http://www.miatours.hr/index-en.htm)) which is faster, but no cars or bikes are allowed. It is desirable to buy a ticket for ferry and catamaran in advance, and if you are interested in this possibility, please contact the organizers.

%article
  :markdown

