---
title: 'An active and dynamic vacation'
---

%article
  :markdown
    # A Brand New Site!

    We **finally** have a good web site! I know that last one was awful, sorry about that... The content of this site is currently minimal, but don't worry, it'll grow in time. Until then, feel free to look around the site and see if there's anything you'd like to remove, add or change and [drop me an e-mail](mailto:matija.marohnic@gmail.com) if you have any suggestions.

    This specific page is reserved for important or less important news. Among other things, this is the place where the practicals concerning the upcoming camp will be posted (when, where, how much etc.).
