---
title: 'An active and dynamic vacation'
---

%article
  :markdown
    # The Camp
    This is where the practicals concerning the upcoming camp will be posted (when, where, how much etc.), so stay tuned... ;)
